@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }

  .text-outline {
    -webkit-text-stroke: 1px white;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #00c8ff;
  }
}

.gradient-text {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  animation: gradient-animation 3s ease infinite;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .gradient-text {
    background-size: 100% auto; /* Make the gradient fit within the text width on mobile */
    animation: none; /* Disable animation on mobile if necessary to prevent excessive background movement */
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.user-select-none {
  user-select: none; /* Prevent text selection */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

